
  html, body{
    height: 100%;
  }
  body{
    margin: 0px;
   background-image:url(http://meusjutsusnrpg.weebly.com/uploads/1/5/8/6/15863800/909961.jpg?414);
   background-repeat: no-repeat;
  }
  body{
    background-color: #ffffff;
  }
  h1{
    color: #FFFFFF;
    text-align: center;
    font-family: "Arial";
  }
  h2{
    color: #FFFFFF;
    font-family: "Arial";
    text-align: center;
    background-color: #000000;
    padding: 4px 1px 4px 1px;
  }
  p{
    font-family: "Arial";
    text-align: justify;
  }
  li{
    font-family: "Arial"
  }
  ul{
    list-style-type: none;
  }
  b{
    color: #FF1493;
    font-family: serif;
    font-size: 20;
  }
  img{
    float: left;
  }
  header{
    padding: 1px 1px 1px 1px;
    background-color: #778899;
    text-align: center;
  }
  nav:not(.inlineBlock){
    background-color: #778899;
    color: #ffffff;
  }
  nav{
    font-size: 20;
    padding: 1px 1px 7px 1px;
  }
  article{
    text-align: right;
  }
  footer{
    padding: 1px 1px 1px 1px;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
  }
  table, td, th {
    border: 1px solid #B5B5B5;
  }
  .inlineBlock{
    display: inline-block;
    vertical-align: middle;
  }
  .alignRight{
    text-align: right;
  }
  
