.imagens img {
   padding:2em;
}

.botao ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:#696969;
}

.botao li a {
   display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    
}

.botao li a.active {
   background-color: #8B8386;
   color: white;
}

.botao li a:hover:not(.active) {
    background-color: #C1CDC1;
    color: white;
}

body{
   background-image:url(http://orig10.deviantart.net/14c4/f/2013/034/9/f/alas_de_angel_png__by_girlswag-d5tqw2o.png);

    }
 
    header,footer {
      padding: 1em;
      border: 1px;
      background-color: #9C9C9C;
    }
    nav {
      float: left;
        padding: 1em;
    }
    
    img.img1 {
      height:200px;
      width:200px;
      float: left;
    }
    
    p {
      font-family: helvetica;
    } 
    
    h1, h2 {
      font-family: Comic Sans MS;
    }
    table,td,th {
      border: 2px solid #696969;
     
      font-family: Trebuchet MS;
    }
    table {
      background-color:#CDC1C5;
    } 
 article {
   margin-left: 150px;
   border-left: 10px ;
   padding: 1em;
   overflow:hidden;
}
    
      td {
        width:400px;
        padding:5px;
        background-color:#828282;
    }
    
    th {
      width:150px;
      padding:5px;
      background-color:#828282;
      text-align:left;
    }
