body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #D3D3D3;
       background-image:url("https://s-media-cache-ak0.pinimg.com/originals/b2/39/88/b23988d432dbb9f5b6412e5b757424c3")
  }
.navbar-brand {
  font: 20px 'Montserrat', sans-serif;
}

.logo {
  color: #B5B5B5;
}
	 
  p {
    font-size: 16px;
  }

  .container-fluid {
    padding: 60px 50px;
  }

  .margin {
    margin-bottom: 45px;
  }

    .navbar {
    margin-bottom: 0;
    background-color: #000000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #4169E1 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0099cc !important;
    background-color: #F0FFFF !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.bg-1 {
  background-color: #0099cc;
  color: #EEE9E9;
}

.bg-2 {
  background-color: #EEE9E9;
  color: black;
}

.bg-3 {
  background-color: #FFFAFA;
  color: black;
}

.bg-4 {
  background-color: #EEE9E9;
  color: black;
}

.bg-5 {
  background-color: #FFFAFA;
  color: black;
}

.infg {
  padding-left: 70px;
}

.logo-small {
    color: #0099cc;
    font-size: 30px;
}

p.inf {
  font-size: 25px;
  padding-left: 80px;
}

p.text {
  font-size: 18px;
  text-indent: 4em;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    color: black;
}

.thumbnail img {
    margin-bottom: 10px;
}

footer .glyphicon {
    font-size: 30px;
    margin-bottom: 20px;
    color:  #0099cc;
}
