<html>
<head>
 <link rel="shotrcut icon" href="http://img14.deviantart.net/f5a1/i/2011/081/4/f/circle_of_the_eclipse_by_gaudifanyay-d3c7vla.png" type="image/x-png"/>
 <link rel="stylesheet" href="css2/style2.css"> 
<title> Minha vida </title>
<meta charset='utf-8'/>
</head>
<body>
  <header>
<h1><center>A Vida de um Gotico Satanista Vampirico das Trevas</center></h1>
  </header>
  <nav>
   
   <div class="botao">
    <ul>
      <li><a class="active" href="index.html">Sobre Mim</a></li><br/>
        <li><a href="habilidades.html">Habilidades</a></li><br/>
        <li><a href="blog.html">Blog</a></li><br/>
        <li><a href="portfolio.html">Portfólio</a></li><br/>
    </ul>
   </div>
  
  </nav>
  <article>
   <h2>Sobre Mim</h2>
  <img class="img1" src="https://www.facebook.com/photo.php?fbid=1815829158643895&set=a.1740601556166656.1073741829.100006504852210&type=3">
  <table>
    <tr>
      <th>Nome</th>
      <td>Gustavo Dutra Santolin</td>
    </tr>
    <tr>
      <th>Cidade</th>
      <td>Vitória - ES</td>
    </tr>
    <tr>
      <th>Nascido em</th>
      <td>Serra - ES</td>
    </tr>
    <tr>
      <th>Idade</th>
      <td>14 Anos</td>
    </tr>
  </table>
  <img style="padding:5px;width:50px; height:50px;" src="http://imageshack.com/a/img923/7249/aeiYqe.png"(face)
      onMouseOver="this.src='http://imageshack.com/a/img921/6137/4Fux6T.png'"
      onMouseOut="this.src='http://imageshack.com/a/img923/7249/aeiYqe.png'"
      onClick="location='https://www.facebook.com/gustavo.dutrasantolin'"
 >

      <img style="padding:5px;width:50px; height:50px;padding-left:0px;" src=http://imageshack.com/a/img922/1021/lFrvv2.png (insta)
       width="50"
       height="50" 
       onMouseOver="this.src='http://imageshack.com/a/img922/4062/g3B33C.png'"
       onMouseOut="this.src='http://imageshack.com/a/img922/1021/lFrvv2.png'"
       onClick="location='https://www.instagram.com/gustavosantolin1/'"
 >
  <p><i>"Feliz é aquele que não é triste."(Francisco Everardo Oliveira Silva)</i><br></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-77UEct0cZM" frameborder="0" allowfullscreen></iframe>
<h2>Informações Pessoais</h2>
<p>Hobbies:</p>
<ul>
<li>Jogar</li>
<li>Jogar mais</li>
</ul>
<p>O que quero aprender:</p>
<ul>
<li>Tocar algum instrumento</li>
<li>Desenhar</li>
</ul>
<p>O que posso ensinar:</p>
<ul>
<li>Nada</li>
</ul>
  </article>
  <footer><center>Rouba meu site não © Gustavo Dutra</center></footer>
   
</body>
</html>
